---
import { Image } from "astro:assets";
import background from "@/assets/background/servicesCardbg.svg";
import LinkButton from "../ui/LinkButton.astro";
const { data } = Astro.props;
---

<div id="service-section-card" class="border-b border-[#E7E2DF]">
  <div class="grid lg:grid-cols-2">
    {/* Left */}
    <div
      style={`background-image:url(${background.src})`}
      class="service-image-wrapper flex items-center justify-center border-b border-[#E7E2DF] lg:border-b-0 lg:border-r bg-cover bg-center bg-no-repeat"
    >
      <Image
        src={data.image}
        alt={data.title}
        width={500}
        height={400}
        class="service-image w-full object-cover object-top transition-transform duration-500 hover:scale-105 my-18.5 px-13.5"
      />
    </div>

    {/* Right */}
    <div class="flex flex-col p-10">
      <div>
        <h2
          class="services-card-title font-commissioner text-[20px] font-semibold uppercase leading-[110%] tracking-[-4%] text-[#301C1B] pb-5"
        >
          {data.title}
        </h2>

        <p
          class="services-card-description pb-5 font-dm-mono text-[14px] leading-[150%] tracking-[-4%] text-[#5A4A48]"
        >
          {data.servicesSubTitle}
        </p>

        <p
          class="services-card-description pb-5 font-dm-mono text-[14px] leading-[150%] tracking-[-0.04em] text-[#5A4A48]"
        >
          {data.servicesDescription}
        </p>

        <h3
          class="services-card-description pb-5 font-commissioner text-[16px] font-semibold leading-[150%] text-[#301C1B]"
        >
          {data.whatWeDeliver}
        </h3>

        <p
          class="services-card-description pb-10 font-dm-mono text-[14px] leading-[150%] tracking-[-4%] text-[#5A4A48]"
        >
          {data.whatWeDeliverDetails}
        </p>
        <LinkButton href={`/services/${data.slug}`} text="Learn more" />
      </div>
    </div>
  </div>
</div>
<script>
  import gsap from "gsap";
  import { ScrollTrigger } from "gsap/ScrollTrigger";

  gsap.registerPlugin(ScrollTrigger);

  const tl = gsap.timeline({
    scrollTrigger: {
      trigger: "#service-section-card",
      start: "top 80%",
      toggleActions: "play none none reverse",
    },
  });

  tl.from(".services-card-title", {
    y: 80,
    opacity: 0,
    duration: 1,
    ease: "power4.out",
  }).from(
    ".services-card-description",
    {
      y: 30,
      opacity: 0,
      stagger: 0.12,
      duration: 0.8,
      ease: "power3.out",
    },
    "-=0.6",
  );
</script>
