---
import Faqs from "./faqs.astro";
import LinkButton from "../ui/LinkButton.astro";
import faqicon from "@/assets/sectionIcon/faq.svg";
const whatsappUrl = import.meta.env.WHATSAPP_URL;
const { askedQuestion } = Astro.props;

const { title, subtitle, description, buttonText, faqs } =askedQuestion;
---

<section id="faq" class="overflow-hidden mt-10 lg:mt-26">
  <div class="flex flex-col lg:flex-row items-stretch border-y">
    <!-- Left Side - Fixed width with white background -->
    <div
      class="faq-left w-full lg:w-100 shrink-0 border-b lg:border-b-0 lg:border-r px-6 md:px-8 py-10 bg-white"
    >
      <div class="flex items-center gap-2 mb-6 lg:mb-9.5">
        <img
          src={faqicon.src}
          alt="number section"
          class="w-4 h-4 md:w-auto md:h-auto"
        />
        <h6
          class="font-dm-mono font-normal text-[12px] sm:text-[14px] leading-[150%] tracking-[-4%] text-primary"
        >
          {title}
        </h6>
      </div>
      <p
        class="font-commissioner font-semibold text-[20px] sm:text-[22px] md:text-[24px] leading-[110%] tracking-[-4%] uppercase mb-8 lg:mb-14"
      >
        {subtitle}
      </p>
      <p
        class="font-dm-mono font-normal text-[14px] leading-[150%] tracking-[-4%] mb-10 lg:mb-42.5"
      >
        {description}
      </p>
      <LinkButton href={whatsappUrl} text={buttonText} class="mb-12" />
    </div>

    <!-- Right Side - Background image ONLY on right side -->
    <div class="faq-right py-5 md:py-7 lg:py-10px bg-white">
      <Faqs faqs={faqs} />
    </div>
  </div>
</section>
<script>
  import gsap from "gsap";
  import { ScrollTrigger } from "gsap/ScrollTrigger";

  gsap.registerPlugin(ScrollTrigger);

  const tl = gsap.timeline({
    scrollTrigger: {
      trigger: "#faq",
      start: "top 70%",
      toggleActions: "play none none reverse",
    },
  });

  tl.from(".faq-left", {
    x: -100,
    opacity: 0,
    duration: 0.8,
    stagger: 0.4,
    ease: "power3.out",
  });
  tl.from(".faq-right", {
    y: 110,
    opacity: 0,
    duration: 0.8,
    stagger: 0.08,
    ease: "power3.out",
  });
</script>
