---
import { Image } from "astro:assets";

import background from "@/assets/background/reviewDotted.svg";
import clutch from "@/assets/icons/clutch.svg";
import Carousel from "@/components/ui/carousel/carousel.astro";
import CarouselContent from "@/components/ui/carousel/carousel-content.astro";
import CarouselItem from "@/components/ui/carousel/carousel-item.astro";
import LinkButton from "@/components/ui/LinkButton.astro";

const blogs = Object.values(
  import.meta.glob("../../../content/review/*.md", { eager: true }),
).sort((a: any, b: any) => a.frontmatter.order - b.frontmatter.order);

const reviews = blogs.map((blog: any) => ({
  title: blog.frontmatter.title,
  description: blog.frontmatter.description,
  image: blog.frontmatter.image,
  name: blog.frontmatter.name,
  designation: blog.frontmatter.designation,
  reviewUrl: blog.frontmatter.reviewUrl,
  tags: blog.frontmatter.tags,
}));
---

<section id="review" class="bg-[#1E1212]">
  <div
    class="relative bg-cover bg-center bg-no-repeat"
    style={`background-image:url(${background.src})`}
  >
    <div class="mx-auto px-8">
      <!-- Top Right -->
      <div class="animate-button flex justify-end pt-8">
        <div class="flex items-center gap-8 bg-white p-5">
          <Image src={clutch} alt="Clutch" width={150} class="h-auto w-auto" />
          <LinkButton href={"/review"} text="See Reviews" />
        </div>
      </div>

      <div class="pb-40 lg:pb-50 grid grid-cols-1 lg:grid-cols-12 items-center">
        <!-- Left -->
        <div
          class="hidden col-span-3 lg:flex h-full flex-col justify-evenly gap-73 text-white"
        >
          <h2
            class="left-card text-center font-commissioner font-normal text-[24px] leading-[110%] tracking-[-4%]"
          >
            #msgly
          </h2>
          <h2
            class="left-card ml-16 text-center font-commissioner font-normal text-[36px] leading-[110%] tracking-[-4%]"
          >
            #wpstar
          </h2>
        </div>

        <!-- Carousel -->

        <div class="card col-span-6 pt-4.5">
          <Carousel class="w-full">
            <CarouselContent>
              {
                reviews.map((review: any) => (
                  <CarouselItem class=" flex justify-center basis-full">
                    <article class="w-full max-w-120 border border-[#4A2D2A] bg-[#2D1A1A] p-7">
                      {/* Image */}
                      <img
                        src={review.image}
                        alt={review.title}
                        class="card-child h-36 w-30 object-cover"
                      />

                      {/* Title */}
                      <h3 class="card-child font-dm-mono font-medium text-[20px] leading-[140%] tracking-[-4%] text-white  mt-7 mb-8">
                        {review.title}
                      </h3>

                      {/* Description */}
                      <p class="card-child font-dm-mono font-medium text-[16px] leading-[150%] tracking-[-4%] text-white/70  mb-8">
                        {review.description}
                      </p>

                      {/* Footer */}
                      <div class="card-child mt-5 pt-4 border-t border-[#F46B45] flex items-center justify-between gap-5">
                        <h4 class="font-dm-mono font-medium text-[16px] leading-[150%] tracking-[-4%] text-[#F46B45]">
                          {review.name}
                        </h4>

                        <p class="text-right font-dm-mono font-medium text-[14px] leading-[150%] tracking-[-4%] text-white">
                          {review.designation}
                        </p>
                      </div>
                    </article>
                  </CarouselItem>
                ))
              }
            </CarouselContent>
          </Carousel>
        </div>

        <!-- Right -->
        <div
          class="hidden col-span-3 w-[25%] lg:flex h-full flex-col justify-evenly gap-54.25 text-right text-white pl-19.25"
        >
          <h2
            class="left-card -ml-14 text-center font-commissioner font-normal text-[32px] leading-[110%] tracking-[-4%]"
          >
            #zalon
          </h2>
          <h2
            class="left-card text-center font-commissioner font-normal text-[48px] leading-[110%] tracking-[-4%]"
          >
            #edca
          </h2>
        </div>
      </div>
    </div>
  </div>
</section>
<script>
  import gsap from "gsap";
  import { ScrollTrigger } from "gsap/ScrollTrigger";

  gsap.registerPlugin(ScrollTrigger);
  const tl = gsap.timeline({
    scrollTrigger: {
      trigger: "#review",
      start: "top 75%",
      toggleActions: "play none none reverse",
    },
  });
  tl.from(".animate-button", {
    x: 200,
    opacity: 0,
    duration: 1,
    ease: "power4.out",
  }).from(".card-child", {
    yPercent: 120,
    opacity: 0,
    duration: 0.8,
    ease: "expo.out",
  });
  tl.from(".left-card", {
    yPercent: 120,
    opacity: 0,
    duration: 0.8,
    ease: "expo.out",
    stagger: 0.2,
  });
</script>
