---
import {
  Carousel,
  CarouselContent,
  CarouselItem,
  CarouselNext,
  CarouselPrevious,
} from "@/components/ui/carousel";
import * as data from "@/content/about/testimonial-content.md";

const { title, description, testimonials } = data.frontmatter;
import icon from "@/assets/sectionIcon/networkIcon.svg";
// import CtaIcon from "../../../public/ourProcess/ctaActionIcon.svg";
import LinkButton from "../ui/LinkButton.astro";
---

<section class="border border-black/20 my-20 mx-10">
  <div class="flex flex-col lg:flex-row">
    <!-- Left Side -->
    <div
      class="flex w-full flex-col justify-between border-b border-r border-[#D9D9D9]
             p-8 lg:border-b-0 lg:p-10 lg:w-md"
    >
      <div>
        <div class="flex items-center gap-2 text-[#F26C3A]">
          <img src={icon.src} alt={title} />
          <span
            class="font-dm-mono font-normal
                 leading-[150%] tracking-[-4%] text-[14px]"
            >{title}</span
          >
        </div>

        <h2
          class="mt-8 font-commissioner font-semibold uppercase
                 
                leading-[110%] tracking-[-4%] text-[24px]"
        >
          {description}
        </h2>
      </div>
      <LinkButton href="/contact" text="Let'talk" />
      <!-- <a
        href="/contact"
        class="mt-10 inline-flex w-fit items-center gap-3 bg-[#F26C3A]
               px-8 py-4 text-white transition hover:bg-[#dc5f33] font-commissioner font-normal
                 leading-[150%] tracking-[-4%] text-[14px]"
      >
        Let'talk
        <img src={CtaIcon.src} />
      </a> -->
    </div>

    <!-- Right Side -->
    <div class="relative flex-1 p-8 lg:p-10">
      <Carousel class="w-full">
        <CarouselContent>
          {
            testimonials.map((item: any) => (
              <CarouselItem>
                <div class="flex flex-col justify-between">
                  <p
                    class="font-dm-mono font-normal 
                 leading-[150%] tracking-[-4%] text-[16px]"
                  >
                    {item.description}
                  </p>

                  <div class="mt-12 flex items-center gap-5">
                    <img
                      src={item.image}
                      alt={item.name}
                      class="h-14 w-14 object-cover"
                    />

                    <div>
                      <h4
                        class="font-dm-mono font-medium 
                 leading-[150%] tracking-[-4%] text-[14px] "
                      >
                        {item.name}
                      </h4>

                      <p
                        class="mt-1 font-dm-mono font-normal 
                 leading-[150%] tracking-[-4%] text-[14px]  "
                      >
                        {item.designation}
                      </p>
                    </div>
                  </div>
                </div>
              </CarouselItem>
            ))
          }
        </CarouselContent>

        <!-- Navigation -->
        <div class="absolute bottom-0 right-0 flex items-center">
          <CarouselPrevious
            class="static h-6 w-6 rounded-none border-r border-[#D9D9D9] shadow-none"
          />

          <CarouselNext class="static h-6 w-6 rounded-none shadow-none" />
        </div>
      </Carousel>
    </div>
  </div>
</section>
