---
import { NavigationMenuLink } from "../ui/navigation-menu";
import ctaIcon from "@/assets/home/heroimage/ctaActionIcon.svg";
import * as data from "@/content/pricing/pricing-hero-content.md";
import {
  Carousel,
  CarouselContent,
  CarouselItem,
  CarouselNext,
  CarouselPrevious,
} from "../ui/carousel";
import Icon from "../ui/icon/icon.astro";
import ctaIcon2 from "@/assets/services/icon.png";

const { title, description, buttonLink,buttonText,buttonLink2, buttonText2, testimonials } = data.frontmatter;
---

<!-- hero section -->
<div class="flex flex-col border-t border-border lg:flex-row lg:border-b ">
  <!-- Left Content -->
  <div
    class="w-full shrink-0 border-b border-border px-6 py-10
           sm:px-8
           lg:w-100 lg:border-b-0 lg:border-r lg:px-10 lg:py-14"
  >
    <div class="flex h-full flex-col ">
      <div>
        <h3
          class="font-commissioner
                 text-2xl
                 sm:text-[28px]
                 font-semibold
                 uppercase
                 leading-[110%]
                 tracking-[-4%]
                 text-primary"
        >
          {title}
        </h3>

        <p
          class="mt-6
                 max-w-full
                 lg:max-w-[320px]
                 font-dm-mono
                 text-sm
                 leading-[150%]"
        >
          {description}
        </p>
      </div>
      <!-- button -->
       <div class="mt-8 lg:mt-auto  rounded-0">
      <div class="flex gap-6">
        <NavigationMenuLink
          href={buttonLink}
          class="w-36.25 h-11.25 py-3 px-2.5 bg-primary my-10 mt-5 lg:mt-26 hover:bg-primary cursor-pointer flex items-center justify-center gap-2 rounded-none"
        >
          <span
            class="font-commissioner font-normal text-[14px] leading-[150%] tracking-[-4%] text-white"
          >
            {buttonText}
          </span>
          <img src={ctaIcon.src} alt="icon" class="h-2 w-2" />
        </NavigationMenuLink>
        <NavigationMenuLink
          href={buttonLink2}
          class="w-36.25 border h-11.25 py-3 px-2.5 my-10 mt-5 lg:mt-26 cursor-pointer flex items-center justify-center gap-2 rounded-none"
        >
          <span
            class="font-commissioner font-normal text-[14px] leading-[150%] tracking-[-4%] text-[#301C1B]"
          >
            {buttonText2}
          </span>
          <img src={ctaIcon2.src} alt="icon" class="animate-bounce" />
        </NavigationMenuLink>
      </div>
    </div>
    </div>
  </div>

  <!-- Right Gallery -->
<div class="relative flex-1 px-8 py-10 lg:px-18 lg:py-20 bg-[#301C1B]">
  <Carousel class="h-full">
    <CarouselContent>
      {
        testimonials.map((item: any) => (
          <CarouselItem>
            <div class="flex flex-col ">
              <!-- Quote -->
              <div class="mb-10">
                <Icon
                  name="quote"
                  class="size-10  text-white font-normal font-dm-mono"
                />
              </div>

              <!-- Testimonial -->
              <p
                class="max-w-190
                       font-dm-mono
                       font-normal
                       text-[24px]
                       leading-[150%]
                       tracking-[-4%]
                       text-primary"
              >
                {item.description}
              </p>

              <!-- Bottom -->
              <div class="mt-auto pt-14">
                <div class="border-t border-primary"></div>

                <div class="mt-6 flex items-center justify-between">
                  <div class="flex items-center gap-5">
                    <img
                      src={item.image}
                      alt={item.name}
                      class="h-14 w-14 object-cover"
                    />

                    <div>
                      <h4
                        class="font-dm-mono
                               text-[14px]
                               leading-[150%]
                               tracking-[-4%]
                               font-medium
                               text-white"
                      >
                        {item.name}
                      </h4>

                      <p
                        class="mt-1
                               font-dm-mono
                               text-[14px]
                               leading-[150%]
                               tracking-[-4%]
                               font-normal
                               text-white"
                      >
                        {item.designation}
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </CarouselItem>
        ))
      }
    </CarouselContent>

 <!-- Navigation -->
        <div class="absolute bottom-0 right-0 flex items-center">
          <CarouselPrevious
            class="static h-6 w-6 rounded-none border-r hover:text-primary cursor-pointer hover:bg-[#1d1615] border-white/20 outline-1 bg-[#301C1B] text-primary shadow-none"
          />

          <CarouselNext class="static hover:bg-[#1d1615] hover:text-primary bg-[#301C1B] border-white/20 h-6 w-6 cursor-pointer rounded-none text-primary shadow-none" />
        </div>
  </Carousel>
</div>
</div>
