---
import { cn } from "@/lib/utils";
import { Header, HeaderContainer, HeaderGroup } from "@/components/ui/header";
import { Logo, LogoImage } from "@/components/ui/logo";
import {
  NavigationMenu,
  NavigationMenuContent,
  NavigationMenuItem,
  NavigationMenuLink,
  NavigationMenuList,
  NavigationMenuTrigger,
  navigationMenuTriggerStyle,
} from "@/components/ui/navigation-menu";
import {
  Sheet,
  SheetClose,
  SheetContent,
  SheetTrigger,
} from "@/components/ui/sheet";
import navbgvector from "../assets/navbgvector.svg";
import { Icon } from "./ui/icon";
type Props = {
  class?: string;
  logo: {
    href: string;
    src: any;
    alt: string;
  };
  navigation: {
    label: string;
    href: string;
  }[];
};
import navrighticon from "../assets/navrighticon.svg";

const { class: className, logo, navigation } = Astro.props;
const pathname = Astro.url.pathname;
---

<Header class={cn("border-b-[0.5px] px-0", className)}>
  <HeaderContainer
    class="justify-between h-12 pl-2"
    style={`background-image: url(${navbgvector.src})`}
  >
    <HeaderGroup
      class={"  pr-12 w-47 text-center pl-8 py-3 border-r-[0.5px] bg-white"}
    >
      <!-- logo -->
      <Logo href={logo.href} id={"logo"}>
        <LogoImage src={logo.src} alt={logo.alt} />
      </Logo>
    </HeaderGroup>
    <NavigationMenu
      class="absolute left-1/2 hidden max-w-none -translate-x-1/2 lg:flex mt-1.5"
      align="center"
    >
      <NavigationMenuList>
        {
          navigation.map((item, index) => (
            <NavigationMenuItem value={`nav-${index}`} id={"navItem"}>
              <NavigationMenuLink
                href={item.href}
                class={`${navigationMenuTriggerStyle()} font-dm-mono font-normal text-[14px] leading-[150%]    uppercase  tracking-[-4%] ${
                  pathname === item.href
                    ? "text-[#E8704E] "
                    : "text-gray-900 hover:text-[#E8704E] "
                }`}
              >
                {item.label}
              </NavigationMenuLink>
            </NavigationMenuItem>
          ))
        }
      </NavigationMenuList>
    </NavigationMenu>

    <!-- right side -->
    <HeaderGroup class="ml-auto hidden justify-end lg:flex" id={"contact"}>
      <NavigationMenuLink
        href={"/contact"}
        class="bg-primary w-51.75 text-center py-3 px-5 flex justify-center items-center gap-2 cursor-pointer rounded-none hover:bg-primary"
      >
        <img src={navrighticon.src} alt="icon" class="h-5 w-5" />
        <p class="text-white text-base font-dm-mono">Contact</p>
      </NavigationMenuLink>
    </HeaderGroup>

    <Sheet class="lg:hidden pt-2 pr-4">
      <SheetTrigger
        variant="ghost"
        size="icon-sm"
        class="ml-auto"
        aria-label="Open menu"
      >
        <Icon name="menu" id={"#icon"} />
      </SheetTrigger>

      <SheetContent side="right" class="p-0">
        <div class="flex h-full flex-col gap-6 overflow-y-auto px-4 py-12">
          <nav aria-label="Main navigation" class="flex flex-col gap-4">
            {
              navigation.map((item) => (
                <div class="grid gap-1">
                  <SheetClose variant="ghost" class="justify-start font-medium">
                    <NavigationMenuLink
                      href={item.href}
                      class={`${navigationMenuTriggerStyle()} font-dm-mono font-normal text-[14px] leading-[150%]    uppercase  tracking-[-4%]  ${
                        pathname === item.href
                          ? "text-[#E8704E] "
                          : "text-gray-900 hover:text-[#E8704E]"
                      }`}
                    >
                      {item.label}
                    </NavigationMenuLink>
                  </SheetClose>
                </div>
              ))
            }
          </nav>
          <div class="mt-auto flex flex-col gap-2">
            <slot />
          </div>
        </div>
      </SheetContent>
    </Sheet>
  </HeaderContainer>
</Header>

<script>
  import gsap from "gsap";

  gsap.from("#icon", {
    x: 30,
    opacity: 0,
    duration: 0.5,
  });

  let tl = gsap.timeline();
  tl.from("#logo", {
    x: -30,
    opacity: 0,
    duration: 0.5,
  });

  tl.from("#navItem", {
    y: -30,
    opacity: 0,
    duration: 0.5,
    stagger: 0.15,
  });
  tl.from("#contact", {
    x: 30,
    opacity: 0,
    duration: 0.5,
  });
</script>
