---
import type { ImageMetadata } from "astro";
import { Image } from "astro:assets";
import { cn } from "@/lib/utils";
import { Header, HeaderContainer, HeaderGroup } from "@/components/ui/header";
import { Logo, LogoImage, LogoText } from "@/components/ui/logo";
import {
  NavigationMenu,
  NavigationMenuContent,
  NavigationMenuItem,
  NavigationMenuLink,
  NavigationMenuList,
  NavigationMenuTrigger,
  navigationMenuTriggerStyle,
} from "@/components/ui/navigation-menu";
import {
  Sheet,
  SheetClose,
  SheetContent,
  SheetTrigger,
} from "@/components/ui/sheet";
import navbgvector from "../assets/navbgvector.svg";
import { Icon } from "./ui/icon";
type Props = {
  class?: string;
  logo: {
    href: string;
    src: any;
    alt: string;
  };
  navigation: {
    label: string;
    href: string;
    description?: string;
    active?: boolean;
    image?: {
      src: ImageMetadata;
      alt: string;
    };
    links?: {
      label: string;
      href: string;
      description?: string;
      icon?: string;
      active?: boolean;
    }[];
  }[];
  button: {
    label: string;
    href: string;
    icon: any;
  };
};
import navrighticon from "../assets/navrighticon.svg";

const { class: className, logo, navigation } = Astro.props;
const pathname = Astro.url.pathname;
---

<Header class={cn("border-b-[0.5px] px-0", className)}>
  <HeaderContainer
    class="justify-between h-12 pl-2"
    style={`background-image: url(${navbgvector.src})`}
  >
    <HeaderGroup
      class={" w-24 pr-8 xl:w-47 text-center xl:pl-8 border-r-[0.5px] bg-white"}
    >
      <!-- logo -->
      <Logo href={logo.href}>
        <LogoImage src={logo.src} alt={logo.alt} />
      </Logo>
    </HeaderGroup>
    <NavigationMenu
      class="absolute left-1/2 hidden max-w-none -translate-x-1/2 lg:flex mt-1.5"
      align="center"
    >
      <NavigationMenuList>
        {
          navigation.map((item, index) =>
            item.links?.length ? (
              <NavigationMenuItem value={`nav-${index}`}>
                <NavigationMenuTrigger
                  class={
                    "font-dm-mono  font-normal text-[14px] leading-[150%]    uppercase  tracking-[-4%] "
                  }
                >
                  {item.label}
                </NavigationMenuTrigger>
                <NavigationMenuContent>
                  <div class="grid w-[min(46rem,calc(100vw-2rem))] gap-2 p-1 lg:grid-cols-[1fr_1.1fr]">
                    <NavigationMenuLink
                      href={item.href}
                      active={item.active}
                      class="bg-muted/50 hover:bg-muted focus:bg-muted flex min-h-40 flex-col items-start justify-end gap-3 p-4 text-left"
                    >
                      {/* <span
                        class={
                          "font-dm-mono  font-normal text-[14px] leading-[150%]    uppercase  tracking-[-4%] "
                        }
                      >
                        {item.label}
                      </span> */}
                    </NavigationMenuLink>
                    <div class="grid gap-1">
                      {item.links.map((link) => (
                        <NavigationMenuLink
                          href={link.href}
                          active={link.active}
                          class="items-start gap-3 p-3"
                        >
                          {link.icon && (
                            <Icon
                              name={link.icon}
                              class="text-muted-foreground mt-0.5"
                            />
                          )}
                          <span class="grid gap-1">
                            <span class="font-medium font-dm-mono">
                              {link.label}{" "}
                            </span>
                            {link.description && (
                              <span class="text-muted-foreground text-sm leading-relaxed">
                                {link.description}
                              </span>
                            )}
                          </span>
                        </NavigationMenuLink>
                      ))}
                    </div>
                  </div>
                </NavigationMenuContent>
              </NavigationMenuItem>
            ) : (
              <NavigationMenuItem value={`nav-${index}`} >
                <NavigationMenuLink
                  href={item.href}
                  active={item.active}
                  class={`${navigationMenuTriggerStyle()} font-dm-mono font-normal text-[14px] leading-[150%]    uppercase  tracking-[-4%] ${
                    pathname === item.href
                      ? "text-[#E8704E] "
                      : "text-gray-900 hover:text-[#E8704E] "
                  }`}
                >
                  {item.label}
                </NavigationMenuLink>
              </NavigationMenuItem>
            ),
          )
        }
      </NavigationMenuList>
    </NavigationMenu>

    <!-- right side -->
    <HeaderGroup class="ml-auto hidden justify-end lg:flex">
      <slot />
      <NavigationMenuLink href={"/contact"}
        class="bg-primary w-51.75 text-center py-3 px-5 flex justify-center items-center gap-2 cursor-pointer rounded-none hover:bg-primary"
      >
        <img src={navrighticon.src} alt="icon" class="h-5 w-5" />
        <p class="text-white text-base font-dm-mono">Contact</p>
      </NavigationMenuLink>
    </HeaderGroup>

    <Sheet class="lg:hidden pt-2 pr-4">
      <SheetTrigger
        variant="ghost"
        size="icon-sm"
        class="ml-auto"
        aria-label="Open menu"
      >
        <Icon name="menu" />
      </SheetTrigger>

      <SheetContent side="right" class="p-0">
        <div class="flex h-full flex-col gap-6 overflow-y-auto px-4 py-12">
          <nav aria-label="Main navigation" class="flex flex-col gap-4">
            {
              navigation.map((item) => (
                <div class="grid gap-1">
                  <SheetClose variant="ghost" class="justify-start font-medium">
                    {/* {item.label} */}

                    <NavigationMenuLink
                      href={item.href}
                      active={item.active}
                      class={`${navigationMenuTriggerStyle()} font-dm-mono ${
                        pathname === item.href
                          ? "text-[#E8704E] font-semibold"
                          : "text-gray-900 hover:text-[#E8704E]"
                      }`}
                    >
                      {item.label}
                    </NavigationMenuLink>
                  </SheetClose>
                  {item.links?.length && (
                    <div class="border-border ml-3 grid gap-1 border-l pl-3">
                      {item.links.map((link) => (
                        <SheetClose
                          variant="ghost"
                          class="text-muted-foreground justify-start font-dm-mono"
                        >
                          {link.icon && <Icon name={link.icon} />}
                          {link.label}
                        </SheetClose>
                      ))}
                    </div>
                  )}
                </div>
              ))
            }
          </nav>
          <div class="mt-auto flex flex-col gap-2">
            <slot />
          </div>
        </div>
      </SheetContent>
    </Sheet>
  </HeaderContainer>
</Header>
