---
import { Tabs, TabsContent, TabsList, TabsTrigger } from "@/components/ui/tabs";
import * as sectiondata from "@/content/whatwedo/whatwedo-content.md";
import { services } from "@/content/whatwedo";
import bg from "/public/whatwedo/bg.png"
const { label, description, icon } = sectiondata.frontmatter;
---

<section class="bg-[#1E1212] ">
 <Tabs
  client:load
  defaultValue={services[0].frontmatter.value}
  class="grid items-start w-full lg:grid-cols-[320px_1fr]"
>
  <!-- LEFT -->
  <TabsList
    class="flex h-full w-full flex-col mt-48 bg-transparent p-0"
  >
    {
      services.map(({ frontmatter }) => (
        <TabsTrigger
          value={frontmatter.value}
          class="
          
          p-10
            w-full
            justify-start
            rounded-none
            border-white/10
            bg-transparent
            text-left
            data-[state=active]:bg-[#EF7B59]
            data-[state=active]:text-white
            data-[state=active]:font-
          "
        >
          <div class="text-left p-10 ">
            <h3 class="text-xl font-medium text-white capitalize">
              {frontmatter.tabTitle}
            </h3>

            <p class="mt-3 hidden text-sm leading-7 data-[state=active]:block">
              {frontmatter.tabSubtitle}
            </p>
          </div>
        </TabsTrigger>
      ))
    }
  </TabsList>

  <!-- RIGHT -->
  <div class="min-w-0">
    {
      services.map(({ frontmatter }) => (
        <TabsContent
          value={frontmatter.value}
          class="mt-0 w-full"
        >
          <div class="grid lg:grid-cols-[1fr_400px] border-b border-white/10">

            <!-- IMAGE -->
            <img
              src={frontmatter.image}
              alt={frontmatter.title}
              class="h-160 w-full object-cover"
            />

            <!-- CONTENT -->
            <div class="flex flex-col gap-5 px-8 ">
              <div>
                <p class="mb-8 text-[18px] leading-8 text-white/70">
                  {frontmatter.description}
                </p>

                <ul class="space-y-2">
                  {
                    frontmatter.features.map((feature: any) => (
                      <li class="text-white/70">
                        - {feature}
                      </li>
                    ))
                  }
                </ul>
              </div>

              <a
                href={`/services/${frontmatter.slug}`}
                class="inline-flex w-fit items-center gap-3 bg-[#EF7B59] px-8 py-4 text-white transition hover:bg-[#f08b69]"
              >
                {frontmatter.buttonText}
                ↗
              </a>
            </div>

          </div>
        </TabsContent>
      ))
    }
  </div>
</Tabs>
</section>